*{
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Heebo', sans-serif;
}

p {
    color: black;
    font-size: 15px;
    margin: 0;
    padding-bottom: 15px;
}

a {
   color: white;
   text-decoration: none; 
   text-transform: uppercase;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    text-shadow: 4px 4px 4px black;
}

h2 {
    color:  #3C1518;
    text-transform: uppercase;
    font-size: 20px;
}

img {
    max-width: 100%;
}

.button {
    color: white;
    background-color: #3C1518;
    text-transform: uppercase;
    display: table;
    padding: 10px;
    margin: 20px;
}

/* --------------------header------------------- */

.logo img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: #3C1518;  
}

header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.col-6.navflexlogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.col-6.navflex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav li {
    list-style: none;
    font-size: 15px;
    padding: 0 15px;
}

#mainimage {
    background-image: url(../images/frontpage.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    display: flex;
    align-items: center;    
}

.maintext {
    text-align: center;
}

/* --------------------main------------------- */

div.col-4.boxes {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

#herosection {
    background-image: url(../images/hintergrund.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    display: flex;
    align-items: center;

    /* für Parallax-Scrolling Effekt */
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.herotext > p {
    color:  white;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    text-shadow: 4px 4px 4px black;
}

.button.left {
    margin: 20px 0;
}

div.col-8.textbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* --------------------footer------------------- */

footer {
    background-color: #3C1518;
}

footer div.row {
    padding: 5px;
}

footer .nav {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

footer .nav li {
    margin-right: 20px;
}

footer .col-6.cc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.copyright p {
    color: white;
    padding: 0;
}


@media screen and (max-width:  768px) {  /* kleiner als ... px */

    header .nav {
        flex-wrap: wrap;
    }

    .imagebox {
        order: 1;
    }

    .textbox {
        order: 2;
    }
}
